.highlight {
    /*color:#e6edf3;*/
    --background-color:#0d1117; }

.chroma{
    /* PreWrapper */  { color:#e6edf3;background-color:#0d1117;-webkit-text-size-adjust:none; }
    /* Error */  .err { color:#f85149 }
    /* LineLink */  .lnlinks { outline:none;text-decoration:none;color:inherit }
    /* LineTableTD */  .lntd { vertical-align:top;padding:0;margin:0;border:0; }
    /* LineTable */  .lntable { border-spacing:0;padding:0;margin:0;border:0; }
    /* LineHighlight */  .hl { background-color:#6e7681 }
    /* LineNumbersTable */  .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#737679 }
    /* LineNumbers */  .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#6e7681 }
    /* Line */  .line { display:flex; }
    /* Keyword */  .k { color:#ff7b72 }
    /* KeywordConstant */  .kc { color:#79c0ff }
    /* KeywordDeclaration */  .kd { color:#ff7b72 }
    /* KeywordNamespace */  .kn { color:#ff7b72 }
    /* KeywordPseudo */  .kp { color:#79c0ff }
    /* KeywordReserved */  .kr { color:#ff7b72 }
    /* KeywordType */  .kt { color:#ff7b72 }
    /* NameClass */  .nc { color:#f0883e;font-weight:bold }
    /* NameConstant */  .no { color:#79c0ff;font-weight:bold }
    /* NameDecorator */  .nd { color:#d2a8ff;font-weight:bold }
    /* NameEntity */  .ni { color:#ffa657 }
    /* NameException */  .ne { color:#f0883e;font-weight:bold }
    /* NameLabel */  .nl { color:#79c0ff;font-weight:bold }
    /* NameNamespace */  .nn { color:#ff7b72 }
    /* NameProperty */  .py { color:#79c0ff }
    /* NameTag */  .nt { color:#7ee787 }
    /* NameVariable */  .nv { color:#79c0ff }
    /* NameVariableClass */  .vc { color:#79c0ff }
    /* NameVariableGlobal */  .vg { color:#79c0ff }
    /* NameVariableInstance */  .vi { color:#79c0ff }
    /* NameVariableMagic */  .vm { color:#79c0ff }
    /* NameFunction */  .nf { color:#d2a8ff;font-weight:bold }
    /* NameFunctionMagic */  .fm { color:#d2a8ff;font-weight:bold }
    /* Literal */  .l { color:#a5d6ff }
    /* LiteralDate */  .ld { color:#79c0ff }
    /* LiteralString */  .s { color:#a5d6ff }
    /* LiteralStringAffix */  .sa { color:#79c0ff }
    /* LiteralStringBacktick */  .sb { color:#a5d6ff }
    /* LiteralStringChar */  .sc { color:#a5d6ff }
    /* LiteralStringDelimiter */  .dl { color:#79c0ff }
    /* LiteralStringDoc */  .sd { color:#a5d6ff }
    /* LiteralStringDouble */  .s2 { color:#a5d6ff }
    /* LiteralStringEscape */  .se { color:#79c0ff }
    /* LiteralStringHeredoc */  .sh { color:#79c0ff }
    /* LiteralStringInterpol */  .si { color:#a5d6ff }
    /* LiteralStringOther */  .sx { color:#a5d6ff }
    /* LiteralStringRegex */  .sr { color:#79c0ff }
    /* LiteralStringSingle */  .s1 { color:#a5d6ff }
    /* LiteralStringSymbol */  .ss { color:#a5d6ff }
    /* LiteralNumber */  .m { color:#a5d6ff }
    /* LiteralNumberBin */  .mb { color:#a5d6ff }
    /* LiteralNumberFloat */  .mf { color:#a5d6ff }
    /* LiteralNumberHex */  .mh { color:#a5d6ff }
    /* LiteralNumberInteger */  .mi { color:#a5d6ff }
    /* LiteralNumberIntegerLong */  .il { color:#a5d6ff }
    /* LiteralNumberOct */  .mo { color:#a5d6ff }
    /* Operator */  .o { color:#ff7b72;font-weight:bold }
    /* OperatorWord */  .ow { color:#ff7b72;font-weight:bold }
    /* Comment */  .c { color:#8b949e;font-style:italic }
    /* CommentHashbang */  .ch { color:#8b949e;font-style:italic }
    /* CommentMultiline */  .cm { color:#8b949e;font-style:italic }
    /* CommentSingle */  .c1 { color:#8b949e;font-style:italic }
    /* CommentSpecial */  .cs { color:#8b949e;font-weight:bold;font-style:italic }
    /* CommentPreproc */  .cp { color:#8b949e;font-weight:bold;font-style:italic }
    /* CommentPreprocFile */  .cpf { color:#8b949e;font-weight:bold;font-style:italic }
    /* GenericDeleted */  .gd { color:#ffa198;background-color:#490202 }
    /* GenericEmph */  .ge { font-style:italic }
    /* GenericError */  .gr { color:#ffa198 }
    /* GenericHeading */  .gh { color:#79c0ff;font-weight:bold }
    /* GenericInserted */  .gi { color:#56d364;background-color:#0f5323 }
    /* GenericOutput */  .go { color:#8b949e }
    /* GenericPrompt */  .gp { color:#8b949e }
    /* GenericStrong */  .gs { font-weight:bold }
    /* GenericSubheading */  .gu { color:#79c0ff }
    /* GenericTraceback */  .gt { color:#ff7b72 }
    /* GenericUnderline */  .gl { text-decoration:underline }
    /* TextWhitespace */  .w { color:#6e7681 }
}
